#main-container {
  padding: 50px;
}

#spots {
  width: 100%;
}

.spot {
  transition-duration: 500ms;
  cursor: pointer;
}

.spot:hover {
  transform: scale(1.1);
}

.my-button {
  width: 400px;
  height: 60px;
  font-size: 14pt;
  letter-spacing: 1.5px;
}