<div id="main-container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="30px">
  
  <h3 style="text-align: center;">You may inspect the page and check the Console tab in order<br>to view the raw response from vcita's API</h3>

  <!-- client info -->
  <h2>1. Please enter client's information:</h2>
  <div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="15px grid" style="width: 500px; padding: 30px; border: solid 1px grey;">

    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input name="firstName" matInput [(ngModel)]="client.firstName">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input name="lastName" matInput [(ngModel)]="client.lastName">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input name="email" matInput [(ngModel)]="client.email">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input name="phone" matInput [(ngModel)]="client.phone">
    </mat-form-field>
  
  </div>

    <h2>1. When is it a good time for you?</h2>
  <!-- Selecting start an end dates -->
  <div fxLayout="row" fxLayoutGap="25px">
    <mat-form-field appearance="fill">
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="start" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="end" [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
    </mat-form-field>
  </div>
  

  <button class="my-button" mat-raised-button color="primary" (click)="findAvailableSpots()">Find Available Spots</button>

  <mat-spinner *ngIf="loadingSpots"></mat-spinner>

  <!-- spots -->
  <div *ngIf="spots.length > 0" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <h2>Select spot:</h2>
    <div id="spots" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px grid">
      <div *ngFor="let spot of spots; let i = index;">
        <mat-card class="spot" (click)="setSpot(i)">
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
            <div>{{spot.start_time.replace('T', ' ').slice(0, spot.start_time.length - 6)}}</div>
            <div>{{spot.duration_minutes}} minutes</div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div *ngIf="noSpots">
    <h2 style="text-align: center;">There are no available spots at that time. <br>Please try a different date.</h2>
  </div>


  <button *ngIf="selectedSpot !== null" mat-raised-button color="accent" (click)="book()">Book Appointment</button>
  <mat-spinner *ngIf="loadingBooking"></mat-spinner>

  <mat-card *ngIf="appointment !== null">
    <mat-card-header>
      <mat-card-title>{{appointment.auto_reply_message}}</mat-card-title>
      <mat-card-subtitle>{{appointment.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="15px" style="padding-left: 20px;">
      <div><b>Client ID:</b> {{appointment.client_id}}</div>
      <div><b>Srart time:</b> {{appointment.start_time}} - {{appointment.time_zone}}</div>
      <div><b>Status:</b> {{appointment.status}}</div>
      <div><b>Type:</b> {{appointment.type}}</div>
      <div><b>Created at:</b> {{appointment.created_at}}</div>
    </mat-card-content>
  </mat-card>
</div>