<div fxLayout="column" fxLayoutAlign="center center" style="height: 100vh;">
  <button mat-raised-button color="primary" (click)="findAvailableSpots()">Find Available Spots</button>

  <div id="spots" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px grid">
    <div *ngFor="let spot of spots; let i = index;">
      <mat-card (click)="book(i)">
        <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
          <div>{{spot.start_time}}</div>
          <div>{{spot.duration_minutes}} minutes</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <button mat-raised-button color="accent">Book Appointment </button>
</div>